.perfil-card {
  align-items: center;
}

.perfil-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: white;
}

.avatar-circle {
  width: 120px;
  height: 120px;
  background: #2a2d6e; /* Color igual a las mode-cards */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  border: 4px solid #3b408e;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  width: 80%;
}

.stat-box {
  background: rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.back-btn {
  font-size: 1rem !important;
  opacity: 1 !important;
  background: rgba(255, 255, 255, 0.1);
  padding: 5px 15px;
  border-radius: 10px;
}